{namespace tm=Sto\Tellmatic\ViewHelpers}

<div class="tx-tellmatic tx-tellmatic-subscribe tx-tellmatic-subscribe-subscriberequestform">

	<h2>Anmeldung</h2>

	<p><f:translate id="subscribe_request_form_slogan" /></p>

	<p>Alternativ können Sie Ihre <f:link.action action="updateRequestForm">Daten
		aktualisieren</f:link.action> oder den <f:link.action action="updateRequestForm">Newsletter
		abbestellen</f:link.action>.</p>

	<f:form action="subscribeRequest" method="post" enctype="multipart/form-data">

		<f:render partial="Subscription/Errors" arguments="{_all}" />

		<tm:form.validatedControlGroup for="email">
			<label class="control-label" for="tx-tellmatic-subscribe-request-email">E-Mail
				<span class="form-required-label" title="Pflichtfeld">*</span></label>
			<tm:form.inlineHelpOrErrors />
			<f:form.textfield class="form-control" id="tx-tellmatic-subscribe-request-email" type="text" name="email" />
		</tm:form.validatedControlGroup>

		<f:for each="{settings.additionalFields}" as="fieldSettings" key="fieldName">
			<f:if condition="{fieldSettings.enabled}">
				<f:render partial="Subscription/Form/{fieldSettings.type}Field" arguments="{fieldName: fieldName}" />
			</f:if>
		</f:for>

		<f:if condition="{settings.privacyPolicy.checkRequired}">
			<tm:form.validatedControlGroup for="acceptConditions">
				<label class="control-label">
					Datenschutz
					<span class="form-required-label" title="Pflichtfeld">*</span>
				</label>
				<tm:form.inlineHelpOrErrors />
				<div class="checkbox">
					<label>
						<f:form.checkbox name="acceptConditions" value="true" checked="{acceptConditions}" />
						<f:if condition="{settings.privacyPolicy.linkParameter}">
							<f:then><f:translate id="subscribe_label_privacy_policy_with_link" arguments="{0: '{f:render(section: \'privacyPolicyLink\', arguments: \'{_all}\')}' }" /></f:then>
							<f:else><f:translate id="subscribe_label_privacy_policy" /></f:else>
						</f:if>
					</label>
				</div>
			</tm:form.validatedControlGroup>
		</f:if>

		<f:render partial="Subscription/RequiredFieldsHint" arguments="{_all}" />

		<div class="form-group">
			<f:form.submit class="btn btn-primary" value="Absenden" />
		</div>

	</f:form>

</div>

<f:section name="privacyPolicyLink">
	<tm:link.typolink parameter="{settings.privacyPolicy.linkParameter}"><f:translate id="subscribe_label_privacy_policy_link_text" /></tm:link.typolink>
</f:section>