{namespace tm=Sto\Tellmatic\ViewHelpers}

<f:if condition="{hasErrors}">
	<f:else>

		<h2>Newsletter abbestellen</h2>

		<p>Um künftig keine Newsletter mehr von uns zu erhalten, senden Sie bitte das folgende Formular ab.</p>

		<f:form action="unsubscribe" method="post" enctype="multipart/form-data">

			<f:render partial="Subscription/Errors" arguments="{_all}" />

			<tm:form.validatedControlGroup for="confirmRemoval">
				<tm:form.inlineHelpOrErrors />
				<div class="checkbox">
					<label>
						<f:form.checkbox name="confirmRemoval" checked="{confirmRemoval}" value="true" />
						Hiermit möchte ich meine E-Mail Adresse <b>{authCode.identifier}</b> vom
						Newsletter abmelden. </label>
				</div>
			</tm:form.validatedControlGroup>

			<div class="form-group">
				<f:form.submit class="btn btn-default" value="Abbestellen" />
			</div>

			<f:form.hidden name="historyId" value="{historyId}" />
			<f:form.hidden name="queueId" value="{queueId}" />
			<f:form.hidden name="newsletterId" value="{newsletterId}" />

			<f:form.hidden name="authCode" value="{authCode.authCode}" />

		</f:form>
	</f:else>
	<f:then>
		<f:else>
			<h2>Ein Fehler ist aufgetreten</h2>

			<p>Beim Laden Ihrer Daten ist ein Fehler aufgetreten:</p>

			<p>
				<f:render partial="Subscription/TellmaticError" arguments="{_all}" />
			</p>
		</f:else>
	</f:then>
</f:if>

