{namespace tm=Sto\Tellmatic\ViewHelpers}

<h2>Abbestellen oder Daten ändern</h2>

<p>Bitte geben Sie Ihre E-Mail-Adresse in das folgende Feld ein. Sie erhalten dann eine E-Mail mit weiteren Instruktionen.</p>

<f:form action="updateRequest" method="post" enctype="multipart/form-data">

	<f:render partial="Subscription/Errors" arguments="{_all}" />

	<tm:form.validatedControlGroup for="email">
		<label class="control-label" for="email">E-Mail</label>
		<tm:form.inlineHelpOrErrors />
		<f:form.textfield class="form-control" id="email" type="text" name="email" />
	</tm:form.validatedControlGroup>

	<div class="form-group">
		<f:form.submit class="btn btn-primary" value="Absenden" />
	</div>

</f:form>