{namespace tm=Sto\Tellmatic\ViewHelpers}

<f:if condition="{hasErrors}">
	<f:else>
		<f:render section="updateForm" arguments="{_all}" />
	</f:else>
	<f:then>
		<h2>Ein Fehler ist aufgetreten</h2>

		<p>Beim Laden Ihrer Daten ist ein Fehler aufgetreten.</p>

		<p><f:render partial="Subscription/TellmaticError" arguments="{_all}" /></p>
	</f:then>
</f:if>

<f:section name="updateForm">

	<h2>Daten ändern</h2>

	<p>In nachfolgenden Formular können Sie Ihre Daten aktualisieren.</p>

	<p>Wenn Sie den Newsletter nicht mehr erhalten möchten, können Sie ihn <f:link.action action="unsubscribeForm" arguments="{authCode: authCode.authCode}">hier abbestellen</f:link.action>.</p>

	<f:form action="update" method="post" enctype="multipart/form-data">

		<f:render partial="Subscription/Errors" arguments="{_all}" />

		<tm:form.validatedControlGroup for="email">
			<label class="control-label" for="email">E-Mail
				<span class="form-required-label" title="Pflichtfeld">*</span></label>
			<tm:form.inlineHelpOrErrors />
			<f:form.textfield class="form-control" id="email" type="text" name="email" value="{email}" />
		</tm:form.validatedControlGroup>

		<f:for each="{settings.additionalFields}" as="fieldSettings" key="fieldName">
			<f:if condition="{fieldSettings.enabled}">
				<f:render partial="Subscription/Form/{fieldSettings.type}Field" arguments="{fieldName: fieldName, fieldSettings: fieldSettings}" />
			</f:if>
		</f:for>

		<f:form.hidden name="authCode" value="{authCode.authCode}" />

		<f:render partial="Subscription/RequiredFieldsHint" arguments="{_all}" />

		<div class="form-group">
			<f:form.submit class="btn btn-primary" value="Absenden" />
		</div>

	</f:form>
</f:section>