{namespace tm=Sto\Tellmatic\ViewHelpers}

<h2><f:translate key="update_request_form_header" /></h2>

<p><f:translate key="update_request_form_infotext" /></p>

<f:form action="updateRequest" method="post" enctype="multipart/form-data">

	<f:render partial="Subscription/Errors" arguments="{_all}" />

	<tm:form.validatedControlGroup for="email">
		<label class="control-label" for="email">E-Mail</label>
		<tm:form.inlineHelpOrErrors />
		<f:form.textfield class="form-control" id="email" type="text" name="email" />
	</tm:form.validatedControlGroup>

	<div class="form-group">
		<f:form.submit class="btn btn-primary" value="Absenden" />
	</div>

</f:form>