<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
		"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>Subscription form</title>
</head>
<body>

<!-- ###TEMPLATE_FORM1### begin -->

<div class="tx-formhandler-tellmatic tx-formhandler-tellmatic-subscription">

	<form method="post" action="###REL_URL###" enctype="multipart/form-data" class="yform">

		###is_error###
		###error_tellmatic###

		<fieldset class="csc-mailform">

			<legend>###LLL:gender### ###required_gender###</legend>

			<div class="csc-mailform-field type-check ###is_error_gender###">

				###error_gender###

				<div>
					<input id="tx_formhandler_requestsubscription_gender_m" type="radio" name="tx_formhandler_tellmatic[gender]" value="Herr" ###checked_gender_Herr###/>
					<label for="tx_formhandler_requestsubscription_gender_m">###LLL:gender_male###</label>
				</div>

				<div>
					<input id="tx_formhandler_requestsubscription_gender_f"  type="radio" name="tx_formhandler_tellmatic[gender]" value="Frau" ###checked_gender_Frau###/>
					<label for="tx_formhandler_requestsubscription_gender_f">###LLL:gender_female###</label>
				</div>
			</div>

		</fieldset>

		<fieldset class="csc-mailform">

			<legend>###LLL:legend_name###</legend>

			<div class="csc-mailform-field type-text ###is_error_first_name###">
				###error_first_name###
				<label for="tx_formhandler_requestsubscription_firstname">###LLL:first_name### ###required_first_name###</label>
				<input type="text" name="tx_formhandler_tellmatic[first_name]" id="tx_formhandler_requestsubscription_firstname" value="###value_first_name###"/>
			</div>

			<div class="csc-mailform-field type-text ###is_error_last_name###">
				###error_last_name###
				<label for="tx_formhandler_requestsubscription_lastname">###LLL:last_name### ###required_last_name###</label>
				<input type="text" name="tx_formhandler_tellmatic[last_name]" id="tx_formhandler_requestsubscription_lastname" value="###value_last_name###"/>
			</div>

		</fieldset>

		<fieldset class="csc-mailform">

			<legend>###LLL:legend_email###</legend>

			<div class="csc-mailform-field type-text ###is_error_email###">
				###error_email###
				<label for="tx_formhandler_requestsubscription_email">###LLL:email### ###required_email###</label>
				<input type="text" name="tx_formhandler_tellmatic[email]" id="tx_formhandler_requestsubscription_email" value="###value_email###"/>
			</div>

		</fieldset>

		<fieldset class="csc-mailform">
			<legend>###LLL:legend_submit###</legend>
			<div class="csc-mailform-field type-button">
				<p>###LLL:required_fields###</p>
				<input type="submit" value="###LLL:submit###" ###submit_nextStep###/>
			</div>
		</fieldset>

	</form>

</div>

<!-- ###TEMPLATE_FORM1### end -->

</body>
</html>